.layer1 {
font-size:1.6em;
font-weight:700;
color:#fff;
position:absolute;
text-align: center;
vertical-align: middle;
background-color: rgba(255,0,0,.6);
padding-left:5px;
padding-right:5px;
line-height:0.9em;
} 
.illustration {height:100%}
.imagebox {
float:left;
height:100%;
margin-right:100%;
overflow:hidden;
position:relative;
width:100%;
}
.imagebox .tr-slideIn {transition: transform 2s;transform: rotate(0deg);transition: .75s;
}	
.imagebox .tr-slideIn:hover {
background-color: rgba(0,255,0,.6);
transform: rotate(180deg);
transition: .55s;
}
.advtuer {display:inline-block;width:15%;height:100px;margin:0.8%;border:1px dotted #fff}